<div class="container-fluid container-fluid-custom">
    <main>
        <div class="row py-md-5 text-center justify-content-center">
    
          <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
            <h1 class="display-2 fw-bold mb-4 position-relative home-title">
              About Us
            </h1>
            <div>
                <p class="fs-4 mb-4">
                     Our mission at Notes is to provide a centralized platform for users to organize their thoughts and tasks. 
                    We understand that life can be hectic, and sometimes it's hard to keep track of everything that needs to be done. 
                    That's why we created NoteS - to help users stay on top of their notes and tasks.
                </p>
                <p class="fs-4 mb-4">
                    Our web application allows users to create, edit, and delete notes from their personal dashboard. 
                </p>
            </div>
            
            <a href="/auth/google" class="btn btn-primary btn-lg mt-5">Try Notes, it's FREE!</a>
          </div>
    
        </div>
      </main>
</div>
